# SO References
# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# NPM
node_modules
package-lock.json
*.log
*.gz

# APP Files
logs
administration/documents
api/temp
api/logs
.env
