include models/resources.pug

<!DOCTYPE html>
html#fmp(lang=lang.iso639)
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="theme-color", content="rgb(255, 196, 129)")
        meta(name="robots", content="noindex")

        script(src=`/lang/${lang.iso639}.js` type='text/javascript' defer)
        script(src="/scripts/app.js" defer)
        script(src="/scripts/integrity.js", type="module" defer)
        script(src="/scripts/error.js", type="module" defer)

        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap")
        link(rel="stylesheet", href="/styles/reset.css")

        link(rel="stylesheet", href="/styles/basics.css")
        link(rel="stylesheet", href="/icons/icons.css")

        link(rel="icon" type="image/png" href="/img/logos/fmp_logo-512.png")

        title FoundMyPet
    body
        +header('Found My Pet')
        div#fmp_error
        +footer()