mixin footer()
	footer
		a(href='/', title=lang.dictionary.nearby)
			span.icon-map-pin
		a(href='/pet/add', title=lang.dictionary.report)
			span.icon-paw-print
		a(href='/settings', title=lang.dictionary.config)
			span.icon-settings