#petlist>.pet_entry {border-bottom: 1px rgb(231, 231, 231) solid;}
#petlist>.pet_entry:last-child {border: 0}
#petlist>.pet_entry {width: 100%; height: 100px; display: flex; padding: 15px 0 15px 0; box-sizing: border-box;}
#petlist>.pet_entry>div:first-child { overflow: hidden; display: flex; flex-direction: column; height: 72px; min-width: 72px; margin-right: 15px; border-radius: 15px; position: relative; }
#petlist>.pet_entry>div:first-child>img {width: 72px; height: 100%; object-fit: cover; }
#petlist>.pet_entry>div:first-child>span { color: #131313; height: 18px; position: absolute; bottom: 0; width: 100%;  background-color: #b6ff8c; text-align: center; text-transform: uppercase; font-size: 12px; padding: 3px; font-weight: 600; }
#petlist>.pet_entry>div {height: 72px; display: flex; flex-direction: column;}
#petlist>.pet_entry>div>h4 {margin-bottom: 5px;}
#petlist>.pet_entry>div>p {flex-grow: 1; height: 100%; overflow: hidden;}
#petlist>.news { border-bottom: 1px rgb(231, 231, 231) solid; }
#petlist>.news:last-child { border-bottom: 0 !important; }

#supportus { margin-top: 20px; }

.not_results { display: flex; flex-direction: column; align-items: center; margin: 35px 0px; }
.not_results>span { font-size: 80pt; color: #ff8c8c; }
.not_results>h1 { margin-top: 25px; font-size: 14pt; }